/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }

    .visible-on-mobile {
        display: none;
    }
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
    .navbar {
        position: relative;
    }

    .navbar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar ul {
        display: none;
    }

    .toggle-menu svg {
        width: 24px;
        color: #555;
    }

    /* mobile header */
    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0%);
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        transition-property: opacity, visibility;
    }

    .menu-drawer {
        padding: 60px;
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 2;
        transform: translateX(-100%);
        transition: 0.5s;
    }

    /* menu content */
    .menu-drawer .toggle-menu {
        display: block;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        color: #333;
        font-size: 20px;
        font-weight: 500;
        padding: 16px 0;
    }

    .menu-drawer .separation {
        border-top: 1.5px solid #eee;
    }

    /* hero section  */
    .hero .info {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .hero .desc {
        width: 80%;
        margin: 30px auto 0;
    }

    .hero-img {
        display: none;
    }

    /* trust section */
    .trust-section .company-logos-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    /* guide section */
    .guide-section .option-list {
        column-gap: 0;
        justify-content: space-between;
    }

    /* Properties section */
    .property-list {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }

    /* Stats section */
    .stats .img-block {
        transform: scale(0.8);
    }

    .stats .text-block {
        padding-left: 40px;
    }

    .stats .text-block .heading {
        width: 100%;
    }

    .stats .text-block .desc {
        width: 100%;
    }

    .stats .content > .row {
        margin-top: 80px;
    }

    .stats .row .item .number {
        font-size: 5rem;
    }

    .stats .row .detail {
        font-size: 1.5rem;
    }

    /* newsletter signup  */
    .newsletter-signup .floating-phone {
        display: none;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .visible-on-mobile {
        display: none;
    }

    .property-section .view-all {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .navbar .auth-buttons {
        display: none;
    }

    .menu-drawer {
        padding: 40px;
        inset: 0 25% 0 0;
    }

    /* hero section  */
    .hero-container {
        height: calc(100vh);
        padding-bottom: 30px;
    }

    .hero .title {
        margin-top: 20px;
        font-size: 5.2rem;
    }

    .hero .desc {
        width: 100%;
    }

    /* trust section  */
    .trust-section .rating-text {
        display: none;
    }

    .trust-section .company-logos-container {
        row-gap: 20px;
    }

    /* guide section  */
    .guide-section .option-list {
        flex-direction: column;
        row-gap: 50px;
    }

    /* properties section  */
    .property-section .heading {
        font-size: 3.1rem;
    }

    .property-section .row .link {
        display: none;
    }

    .property-section .row .text {
        line-height: 1.5;
    }

    .property-list {
        grid-template-columns: 1fr;
    }

    .property-list .wrapper {
        column-gap: 4px;
    }

    .property-list .wrapper .spec {
        font-size: 1.3rem;
    }

    .property-section .view-all {
        margin-top: 40px;
        text-align: center;
    }

    .property-section .view-all .btn {
        padding: 0 12px;
    }

    /* stats section  */
    .stats .wrapper {
        flex-direction: column;
    }

    .stats .img-block {
        order: 2;
        width: 100%;
    }

    .stats .img-block .image {
        width: 100%;
    }

    .floating-card {
        top: 20px;
        left: 20px;
        border-radius: 12px;
    }

    .stats .text-block {
        order: 1;
    }

    .stats .content > .row {
        flex-direction: column;
        row-gap: 40px;
    }

    .stats .row .detail {
        text-align: center;
    }

    /* newsletter section  */
    .newsletter-signup .body {
        height: auto;
    }

    .newsletter-signup .text-block {
        width: 100%;
        padding: 32px;
        display: flex;
        flex-direction: column;
    }

    .newsletter-signup .subscribe-btn {
        align-self: center;
    }

    /* footer */
    .footer .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
    }

    .footer .last-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* ? Tại sao phải có media queries cho cả Tablet & Mobile --> Vì trên Tablet và Mobile sẽ 
? nhiều thành phần giống nhau --> những cái giống nhau thì gom chung lại */
