/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }

    .visible-on-mobile {
        display: none;
    }
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
    .navbar {
        position: relative;
    }

    .navbar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar ul {
        display: none;
    }

    .toggle-menu svg {
        width: 24px;
        color: #555;
    }

    /* mobile header */
    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0%);
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        transition-property: opacity, visibility;
    }

    .menu-drawer {
        padding: 60px;
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 2;
        transform: translateX(-100%);
        transition: 0.5s;
    }

    /* menu content */
    .menu-drawer .toggle-menu {
        display: block;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        color: #333;
        font-size: 20px;
        font-weight: 500;
        padding: 16px 0;
    }

    .menu-drawer .separation {
        border-top: 1.5px solid #eee;
    }

    /* hero section  */
    .hero .info {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .hero .desc {
        width: 80%;
        margin: 30px auto 0;
    }

    .hero-img {
        display: none;
    }

    /* trust section */
    .trust-section .company-logos-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    /* guide section */
    .guide-section .option-list {
        column-gap: 0;
        justify-content: space-between;
    }

    /* properties section */
    .property-list {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .visible-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .navbar .auth-buttons {
        display: none;
    }

    .menu-drawer {
        padding: 40px;
        inset: 0 25% 0 0;
    }
}

/* ? Tại sao phải có media queries cho cả Tablet & Mobile --> Vì trên Tablet và Mobile sẽ 
? nhiều thành phần giống nhau --> những cái giống nhau thì gom chung lại */
